@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Spring, Texas<br />
    77389<br />
    <abbr title="Phone">P:</abbr>
    832.404.7502
</address>

<address>
    <strong>Support:</strong> <a href="mailto:bc.grep@gmail.com">bc.grep@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:bc.grep@gmail.com">bc.grep@gmail.com</a>
</address>
